.grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
  }
  .start{
    background-color: rgba(172, 88, 167, 0.637);
    width: 100px;
    height: 50px;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 25%;
  }

  .rules{
    width: 45%;
    height: 50%;
    border-style: solid;
    margin-top: 10%;
    margin-left: 26%;
    margin-right: 26%;
  }
  
  .grid div {
    width: 48px;
    height: 48px;
    border: 1px solid;
  }
  
  .snake {
    background-color: rgb(62, 173, 67);
  }
  
  .appleg {
    background-color: rgb(0, 255, 21);    
  }
  .applee {
    background-color: rgb(0, 0, 0);    
  }